##############ALIASES#####################

if [ -f $HOME/.aliases_priv ]; then
   source $HOME/.aliases_priv
fi

alias cdh='cd $HOME'
alias cddc='cd $HOME/Documents'
alias cddw='cd $HOME/Downloads'

alias cdh='cd $HOME'
alias cddc='cd $HOME/Documents'
alias cddw='cd $HOME/Downloads'
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'

alias t='bash -c "urxvt -cd $PWD &"'

alias todo='vim $HOME/Documents/todo.txt'
alias vimrc='vim $HOME/.vimrc'
alias mntg='google-drive-ocamlfuse $HOME/Gdrive'
alias umntg='fusermount -u $HOME/Gdrive'

alias r='ranger'
alias sdn='shutdown now'
alias gull='git pull'
alias gush='git push'
alias gstat='git status'
alias gcom='git commit '

alias tempmon='watch -n 2 sensors'

alias monsleep='sleep 1; xset dpms force off'
alias nosleep='setterm -blank 0 -powerdown 0'

alias upd='yaourt -Suy'
alias inst='yaourt -S'

alias fixspoti='dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /MainWindow org.qtproject.Qt.QApplication.setStyleSheet string:"QLineEdit { background-color: #fff }"'

