##############ALIASES#####################

if [ -f $HOME/.aliases_priv ]; then
  source $HOME/.aliases_priv
fi

alias cdh='cd $HOME'
alias cddc='cd $HOME/Documents'
alias cddw='cd $HOME/Downloads'

alias cdh='cd $HOME'
alias cddc='cd $HOME/Documents'
alias cddw='cd $HOME/Downloads'
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'



alias r='ranger'
alias sdn='shutdown now'


